<div class="container">

    <div class="row mt-5 align-items-center">

      <div class="col-md-6">
        <div class="ratio ratio-16x9">
          <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" title="YouTube video" allowfullscreen></iframe>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="row-col">
          <div class="col">
            <h3 class=" mt-5 mt-md-0 text-center" id="tittleVideo">Historias</h3>
          </div>
          <div class="col text-center">
            <p>Lorem ipsum dolor sit amet </p>
          </div>
        </div>
      </div>

    </div>
    
  </div>